# Q6 - Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have to scrape:

i) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

ii) Top 10 women’s ODI players along with the records of their team and rating.

iii) Top 10 women’s ODI all-rounder along with the records of their team and rating.

# Installing Required Libraries for Web Scraping

In [1]:
!pip install bs4
!pip install requests

Requirement already satisfied: bs4 in c:\users\aditya\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\aditya\anaconda3\lib\site-packages (from bs4) (4.9.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\aditya\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.0.1)
Requirement already satisfied: requests in c:\users\aditya\anaconda3\lib\site-packages (2.24.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\aditya\anaconda3\lib\site-packages (from requests) (1.25.9)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\aditya\anaconda3\lib\site-packages (from requests) (2020.6.20)
Requirement already satisfied: idna<3,>=2.5 in c:\users\aditya\anaconda3\lib\site-packages (from requests) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\aditya\anaconda3\lib\site-packages (from requests) (3.0.4)

# Importing BeautifulSoup for Web Scraping

In [2]:
from bs4 import BeautifulSoup
import requests

# Web Scraping for Top 10 ODI Teams Ranking in Men's Cricket

In [3]:
ICC_womens = requests.get("https://www.icc-cricket.com/rankings/womens/team-rankings/odi")
ICC_womens

Request Approved

In [4]:
cric_w_soup = BeautifulSoup(ICC_womens.content,'html.parser')

In [5]:
w_team = cric_w_soup.find_all(['span'], class_ = "u-hide-phablet")
ODI_w_Team = []

for i in w_team:
    ODI_w_Team.append(i.text.replace("\n",""))
ODI_w_Team= ODI_w_Team[:10]
ODI_w_Team

['Australia',
 'South Africa',
 'England',
 'India',
 'New Zealand',
 'West Indies',
 'Pakistan',
 'Bangladesh',
 'Sri Lanka',
 'Ireland']

In [6]:
w_title = cric_w_soup.find_all(['span'], class_ = "u-hide-mobile")
Title_w = []

for i in w_title:
    Title_w.append(i.text.replace("\n",""))
    
w_Mat = cric_w_soup.find_all(['td'], class_ = "rankings-block__banner--matches")
w_Matches= []
for i in w_Mat:
    w_Matches.append(i.text.replace("\n",""))
 
w_pts = cric_w_soup.find_all(['td'], class_ = "rankings-block__banner--points")
w_Points= []
for i in w_pts:
    w_Points.append(i.text.replace("\n",""))

In [7]:
w_rtg = cric_w_soup.find_all(['td'], class_ = "rankings-block__banner--rating u-text-right")
w_Ratings= []
for i in w_rtg:
    w_Ratings.append(i.text.replace("\n",""))
w_Ratings= [i.split('                            ')[1]for i in w_Ratings ] 

w_stat = cric_w_soup.find_all(['td'], class_ = "table-body__cell u-center-text")
w_Stats = []

for i in w_stat:
    w_Stats.append(i.text.replace("\n",""))
    
    
for i in range(0,len(w_Stats)):
    if i == 0 or  i/2 == i//2:
        w_Matches.append(w_Stats[i])    
    else:
        w_Points.append(w_Stats[i])
        
w_Points = w_Points[:10]
w_Matches= w_Matches[:10]

w_rat = cric_w_soup.find_all(['td'], class_ = "table-body__cell u-text-right rating")

for i in w_rat:
    w_Ratings.append(i.text.replace("\n",""))
w_Ratings= w_Ratings[:10]

In [9]:
import pandas as pd
ODI_TOP_10_womens = pd.DataFrame({Title_w[0]:ODI_w_Team, Title_w[1]:w_Matches, Title_w[2]: w_Points, Title_w[3]: w_Ratings})

ODI_TOP_10_womens

           Team Matches Points Rating
0     Australia      15  2,436    162
1  South Africa      24  2,828    118
2       England      17  1,993    117
3         India      20  2,226    111
4   New Zealand      18  1,696     94
5   West Indies      12  1,025     85
6      Pakistan      15  1,101     73
7    Bangladesh       5    306     61
8     Sri Lanka      11    519     47
9       Ireland       2     25     13

# Top 10 ODI Batsmen and Allrounders

In [10]:
ICC_Wom = requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi")
ICC_Wom

In [11]:
player_w_soup = BeautifulSoup(ICC_Wom.content,'html.parser')

In [12]:
nam_w = player_w_soup.find_all(['div'], class_ = "rankings-block__banner--name")
banner_name_w = []

for i in nam_w:
    banner_name_w.append(i.text.replace("\n",""))
banner_name_w

['Lizelle Lee', 'Jess Jonassen', 'Ellyse Perry']

In [13]:
nat_w = player_w_soup.find_all(['div'], class_ = "rankings-block__banner--nationality")
natt_w = []

for i in nat_w:
    natt_w.append(i.text.replace("\n",""))

rat_w = player_w_soup.find_all(['div'], class_ = "rankings-block__banner--rating")
ratt_w = []

for i in rat_w:
    ratt_w.append(i.text.replace("\n",""))
    
Batsman_name_w=[banner_name_w[0]]
Batsman_nation_w= [natt_w[0]]
Batsman_Rattings_w= [ratt_w[0]]
allrounder_name_w= [banner_name_w[-1]]
allrounder_nation_w= [natt_w[-1]]
allrounder_Rattings_w= [ratt_w[-1]]    

Nam_w = player_w_soup.find_all(['td'], class_ = "table-body__cell name")
table_names_w = []
for i in Nam_w:
    table_names_w.append(i.text.replace("\n",""))


nat1_w = player_w_soup.find_all(['span'], class_ = "table-body__logo-text")
Nat1_w = []
for i in nat1_w:
    Nat1_w.append(i.text.replace("\n",""))

rat1_w = player_w_soup.find_all(['td'], class_ = "table-body__cell u-text-right rating")
Rat1_w = []
for i in rat1_w:
    Rat1_w.append(i.text.replace("\n",""))


for i in table_names_w[0:9]:
    Batsman_name_w.append(i)
for i in Nat1_w[0:9]:
    Batsman_nation_w.append(i)
for i in Rat1_w[0:9]:
    Batsman_Rattings_w.append(i)    
for i in table_names_w[18:27]:
    allrounder_name_w.append(i)
for i in Nat1_w[18:27]:
    allrounder_nation_w.append(i)
for i in Rat1_w[18:27]:
    allrounder_Rattings_w.append(i)

In [14]:
ODI_TOP_10_Batsman_w = pd.DataFrame({"Batsman_name_W":Batsman_name_w, "Batsman_nation_w":Batsman_nation_w, 
                                     "Batsman_Rattings_w": Batsman_Rattings_w})
ODI_TOP_10_allrounder_w = pd.DataFrame({"allrounder_name_w":allrounder_name_w, "allrounder_nation_w":allrounder_nation_w,
                                        "allrounder_Rattings_w": allrounder_Rattings_w})

In [15]:
ODI_TOP_10_Batsman_w

      Batsman_name_W Batsman_nation_w Batsman_Rattings_w
0        Lizelle Lee               SA                773
1     Tammy Beaumont              ENG                765
2        Meg Lanning              AUS                749
3    Stafanie Taylor               WI                746
4       Alyssa Healy              AUS                741
5  Amy Satterthwaite               NZ                740
6    Smriti Mandhana              IND                719
7    Laura Wolvaardt               SA                699
8        Mithali Raj              IND                693
9       Ellyse Perry              AUS                691

In [16]:
ODI_TOP_10_allrounder_w

  allrounder_name_w allrounder_nation_w allrounder_Rattings_w
0      Ellyse Perry                 AUS                   460
1   Stafanie Taylor                  WI                   410
2    Marizanne Kapp                  SA                   390
3     Deepti Sharma                 IND                   357
4    Natalie Sciver                 ENG                   349
5     Jess Jonassen                 AUS                   301
6     Sophie Devine                  NZ                   274
7  Dane van Niekerk                  SA                   252
8   Katherine Brunt                 ENG                   236
9  Ashleigh Gardner                 AUS                   223